In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split

In [ ]:
#file = framingham_dataset.xlsx 
#how do we import something that isn't csv or txt?

In [3]:
df = pd.read_excel("framingham_dataset.xlsx")

In [4]:
df.head()

     id  sex  sbp  dbp    scl  age   bmi  month  followup  chdfate
0  2642    1  120   80  267.0   55  25.0      8        18        1
1  4627    1  130   78  192.0   53  28.4     12        35        1
2  2568    1  144   90  207.0   61  25.1      8       109        1
3  4192    1   92   66  231.0   48  26.2     11       147        1
4  3977    1  162   98  271.0   39  28.4     11       169        1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4699 entries, 0 to 4698
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4699 non-null   int64
 1   sex       4699 non-null   int64
 2   sbp       4699 non-null   int64
 3   dbp       4699 non-null   int64
 4   scl       4666 non-null   float64
 5   age       4699 non-null   int64
 6   bmi       4690 non-null   float64
 7   month     4699 non-null   int64
 8   followup  4699 non-null   int64
 9   chdfate   4699 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 367.2 KB

In [6]:
df.shape

(4699, 10)

In [8]:
df.describe()

,id,sex,sbp,dbp,scl,age,bmi,month,followup,chdfate
count,4699.000000,4699.000000,4699.000000,4699.000000,4666.000000,4699.000000,4690.000000,4699.000000,4699.000000,4699.000000
mean,2350.000000,1.563950,132.766546,82.541605,228.292542,46.041073,25.631706,6.369227,8061.313258,0.313471
std,1356.628787,0.495946,22.801104,12.737322,44.542624,8.504363,4.094672,3.683821,3595.310856,0.463953
min,1.000000,1.000000,80.000000,40.000000,115.000000,30.000000,16.200000,1.000000,18.000000,0.000000
25%,1175.500000,1.000000,116.000000,74.000000,197.000000,39.000000,22.800000,3.000000,5136.500000,0.000000
50%,2350.000000,2.000000,130.000000,80.000000,225.000000,45.000000,25.200000,6.000000,8908.000000,0.000000
75%,3524.500000,2.000000,144.000000,90.000000,255.000000,53.000000,28.000000,10.000000,11648.000000,1.000000
max,4699.000000,2.000000,270.000000,148.000000,568.000000,68.000000,57.600000,12.000000,11688.000000,1.000000

In [ ]:
#lets predict serum cholesterol 
#predictors everything else - sbp, dbp, age, bmi

In [ ]:
#IDed our predictors (x) and response (y)
#train test split function from sklearn-- create 4 new variables
#Train data to then "train" the model
#model to predict / model to evaluate / model for new data

In [24]:
X= df1[["sbp","dbp","age","bmi"]]
y= df1[["scl"]]

In [10]:
#proves we got 4 columns into the X variable 
X.shape

(4699, 4)

In [25]:
#split into the 4 new variables
#random_state --> when you randomized, it randomly is pulling the rows to create the splits
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=1)

In [26]:
#see if we did it right
#20% --> 940
#80% --> 3759
print(X_train.shape)
print(X_test.shape)
print(y_test.shape)

(3726, 4)
(932, 4)
(932, 1)

In [27]:
#now that the variables are made, we need to train the machine to be a linear model
from sklearn.linear_model import LinearRegression
#pulling LR from sklearn that allows us to fit data to line of best fit
linear_model = LinearRegression()
#now we can fit the linear model
fit_model = linear_model.fit(X_train, y_train)

#we have our model

In [17]:
df.isnull().sum()

id           0
sex          0
sbp          0
dbp          0
scl         33
age          0
bmi          9
month        0
followup     0
chdfate      0
dtype: int64

In [18]:
#had missing values, so we dropped them so we could make the model.
df1 = df.dropna()

In [19]:
#checking to see that drop worked
df1.shape

(4658, 10)

In [28]:
#to test the model, we can put in new numbers
#R, R2, RMSE, we can use as well to see how good model is

#calculate our R2 with sklearn to evaluate our model
fit_model.score(X_test,y_test)

0.0834840956599816

In [ ]:
#our R2 is pretty bad
# we could add predictors or drop predictors to see if this model improves